@font-face {
    font-family: chalk;
    src: url(Sandbox-Melodrama.ttf);
}
@-webkit-keyframes loser {
    0%		{color: #ff3333; }
    50%		{color: #ff3333; }
    100%	{color: #ffffff; }
}
@-webkit-keyframes winner {
    0%		{color: #33ff33; }
    50%		{color: #33ff33; }
    100%	{color: #ffffff; }
}
body {
	background: white url(billeder/tavle.png) no-repeat fixed top center;
	background-size: 100% 100%;
	font-family: chalk, 'Helvetica Neue', helvetica;
	color: white;
}
div#container {
	position: absolute;
	left: 8%;
	top: 7%;
	bottom: 15%;
	right: 4%;
	overflow: hidden;
}
div.team {
	position: absolute;
	line-height: 48px;
	font-size: 48px;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease;
	width: 46%;
	height: 50px;
	overflow: hidden;
}
div.name {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70%;
}
div.score {
	position: absolute;
	left: 75%;
	top: 0px;
	width: 25%;
	text-align: right;
}
div.loser {
	-webkit-animation: loser 5s;
}
div.winner {
	-webkit-animation: winner 5s;
}
